.head {
  text-align: center;
  color: #7191B0;
  font-family: 'Coiny', cursive;
}

body {
  text-align: center;
  background-color: #181A1C;
  font-family: 'Arvo', serif;
}

/*MEDIA QUERIES*/
@media screen and {
  min- width: 800px max- width:1200px
}
.nose {
text-align: center;
font-family: 'Montserrat', sans-serif;
color: #3F95E8;
}
